*{
  margin: 0;
  padding: 0;
}

.container{
  background-color: aqua;
  height: 100dvh;
  display: flex;
  flex-direction: row;
}

.leftcontainer{
  background-image: linear-gradient(lightgray, white);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.leftcontainer p{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.rightcontainer{
  background-image: linear-gradient(lightgray, white);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.leftcontainer img{
  height: 50%;
  width: 50%;
  border-radius: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 8%;
  width: 100%;
  padding: 6px;
  align-items: center;
  top: 0;
  border-bottom: 2px solid gray;
  position: sticky;
  background-color: white;
  }

.header img {
  height: 4%;
  width: 4%;
  margin-right: 12px;
}

.formcard{
  background-color: white;
  width: 60%;
  height: 60%;
  border-radius: 12px;
  box-shadow: 4px 24px 24px 8px black;
  padding: 12px;
}

.formcard div{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;  
}

.formcard input{
  margin-top: 8px;
  width: 100%;
  height: 24px;
  padding-left: 8px;
}

.formcard label{

}