*{
  margin: 0;
  padding: 0;
}

.container{
  background-color: aqua;
  height: 100dvh;
  display: flex;
  flex-direction: row;
}

.leftcontainer{
  background-image: linear-gradient(gray, white);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.rightcontainer{
  background-image: linear-gradient(gray, white);
  display: flex;
  flex: 1;
}

.leftcontainer img{
  height: 50%;
  width: 50%;
  border-radius: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 8%;
  width: 100%;
  padding: 6px;
  align-items: center;
  top: 0;
  border-bottom: 2px solid gray;
  }

.header img {
  height: 4%;
  width: 4%;
  margin-right: 12px;
}